 body
        {
            margin: 0;
            padding: 0;
            font: normal 11px/14px Arial, Helvetica, sans-serif;
            color: #414141;
        }
        form
        {
            margin: 0;
            padding: 0;
        }
        input, select, textarea
        {
            margin: 0;
            padding: 0;
            font: normal 11px/12px Arial, Helvetica, sans-serif;
            color: #666666;
            background: #fff;
        }
        img
        {
            border: 0;
        }
        a, a:hover
        {
            color: #414141;
            text-decoration: none;
        }
        a:hover
        {
            text-decoration: underline;
        }
        .page01
        {
            width: 990px;
            margin: auto;
        }
        .header01
        {
            width: 988px;
            height: 120px;
            background: #23bead url(../images/headerbg01.gif) repeat-x left top;
            border: 1px solid #079c8b;
            clear: both;
        }
        .tdheader
        {
            background: #23bead url(/includes/images/headerbg01.gif) repeat-x left top;
        }
        .headerbg01
        {
            height: 120px;
            background: url(../images/headerbg_lft01.gif) no-repeat left top;
            padding-left: 8px;
        }
        .headerbg02
        {
            height: 120px;
            background: url(../images/headerbg_rgt01.gif) no-repeat right top;
            padding-right: 8px;
        }
        .usertxt01
        {
            font-weight: bold;
            color: #027b60;
        }
        .logo01
        {
            left: 8px;
            top: 0;
            width: 122px;

            background: url(../images/logo01_2.gif) no-repeat left top;
        }
        .headbanner01
        {
            left: 220px;
            top: 15px;
        }
        .userpanel01
        {
            text-align: right;
            font-size: 12px;
            color: #898989;
        }
        .navpanel01
        {
            text-align: right;
        }
        .stock01
        {
            color: #fff;
            font-weight: bold;
            font-size: 13px;
        }
        .stock01 td
        {
            padding-right: 8px;
            vertical-align: middle;
        }
        .getqoute01
        {
            right: 8px;
            top: 93px;
            text-align: right;
        }
        .abs
        {
            background: #2ac7b5 url(../images/footer_bg01.gif) repeat-x left top;
            color: #fff;
            font-weight: bold;
            padding: 5px;
            clear: both;
        }
        .navlink01, .navactlink01
        {
            font-size: 12px;
            font-weight: bold;
            color: #0671b0;
            vertical-align: middle;
            padding: 0 0 0 7px;
        }
        .navlink01 span
        {
            color: #494949;
        }
        .navlink01 a
        {
            color: #606060;
        }
        .navlink01 a:hover
        {
            color: #0671b0;
        }
        .navactlink01 a, .navactlink01 a:hover
        {
            color: #0671b0;
            text-decoration: none;
        }
.searchbox01{background:#fff;border:1px solid #079c8b;padding:2px 8px 2px 8px;color:#666}
.stxt01{font-size:20px;line-height:20px} .stxt02{font-weight:normal;}
.panmid01{background:#fff;border:1px solid #ede0c4;border-top:none;padding:10px 7px 10px 7px;text-align:center}
.content{float:left;width:952px;background:#fafaea url(../images/contentbg01.gif) repeat-x left top;border-left:1px solid #dedede;border-right:1px solid #dedede;padding:12px 18px 10px 18px;}
